.svgimg {
    padding: 25px;
    height: 140px;
    width: 140px;
}

.rotate {
    animation-name: rotateFull;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shake {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Styling for CSS */

.appleFill {
    fill: #ff4755;
}

.appleFill:hover {
    fill: #9abb2d;
    height: 200%;
}

/* Animasjon */

@keyframes rotateFull {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
  }

  @keyframes shake {
      0% {transform:rotate(0deg)}
      25% {transform:rotate(20deg)}
      75% {transform:rotate(-20deg)}
      100% {transform: rotate(0deg);}
  }