:root{
    --background: #f7f7f7;
    --wrapperBackground: #f3f3f3;
    --text: #30475e;
    --boxColor: #fff;
    --buttonColor: #f7f7f7;
    --buttonHover: #f0f0f0;
}

:portrait{
    --artworkBoxDisplay: auto;
}

body{
  background-color: var(--background);
}

h1{
  font-size: 50px;
  color: var(--text);
  margin: 20px 3px;
}

.OpeningScreen{
    width: 100%;
    height: 100vh;
    background-color: #30475e;
    text-align: center;
}

.OpeningScreen h1 {
    color: #f7f7f7;
    margin: 0 auto;
    line-height: 75vh;
}

.Wrapper {
    display: none;
    width: 100%;
    grid-gap: 1em;
    background: var(--background);
}

.Header {
    text-align: center;
    text-justify: center;
    height: 6em;
    background-color: var(--boxColor);
    color: var(--text);
    box-shadow: 0 10px 20px -10px rgba(0, 64, 128, 0.2)
}

.Wrapper > * {
    padding: 0.5em;
    border-radius: 6px;
}

.WrapperInnerContainer {
    display: grid;
    grid-gap: 1em;
    background: var(--background);
    margin: 10px;
}

.SettingsBox {
    background: var(--boxColor);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 64, 128, 0.2)
}

.DisplayBoxOutercontainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 1em;
  padding-bottom: 3em;
  margin: 5px;
}

.DisplayTop {
    display: flex;
   justify-content: space-between;
    background: var(--boxColor);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    color: var(--text);
    box-shadow: 0 10px 20px -10px rgba(0, 64, 128, 0.2)
}

.DisplayBox {
    background: var(--boxColor);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 1em;
    grid-column-gap: 2%;
    padding-bottom: 3em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 64, 128, 0.2);
    height: 100%;
}

.DisplayBox > * {
  justify-content: center;
  border: none;
}

.ArtworkContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 2%;
}

.PortraitToggleButton {
  grid-row: 1;
  border: none;
  outline: none;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(0,0,0,0);
  justify-items: end;
  padding: 20px 20px 0 0;
}

.PortraitToggleButton > * {
  align-items: right;
  max-width: 50px;
  outline: none;
  cursor: pointer;
}

.Tittel {
  grid-row: 1;
}

.ArtworkBox{
    display: var(--artworkBoxDisplay);
    padding: 0;
    height:100%;
    grid-gap: 1em;
    width: 100%;
    justify-items: center;
    color: var(--text);
}

.Artwork {
  background: #abdfec;
}

.Artwork > * {
  justify-content: center;
}

button {
  padding: 15px 15px;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 0;
  padding: 10px;
  background: var(--background);
  color: var(--text)
}

.LikeButton{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline:none;
  margin-top: 5px;
  cursor: pointer;
}

.ShowFavoriteButton{
    background-color: var(--boxColor);
    color: var(--text);
    outline:none;
    border: none;
}

.ShowFavoriteButton:hover{
    background-color: var(--buttonHover);
}

.ThemeButton{
    background: var(--boxColor);
    color: var(--text);
    outline: none;
}

.ThemeButton:hover{
    background: var(--buttonHover);
}
.PoemButton{
    background: var(--boxColor);
    color: var(--text);
    outline: none;
}

.PoemButton:hover{
    background: var(--buttonHover);
}

/* Desktop */

@media screen and (min-width: 1259px) {
  .WrapperInnerContainer {
  grid-template-columns: auto 80%;

  }

  .DisplayBox > * {
    width: 100%;
  }
}

/* Breakpoint art */

@media screen and (max-width: 1258px) {
  .DisplayBox {
    grid-template-columns: repeat(2, auto);
  }

  .WrapperInnerContainer {
    grid-template-columns: auto 80%;
  
    }  
}
/* Tablet */
@media screen and (max-width: 1024px) {

  .Wrapper {
    grid-template-columns: 1fr;
  }

  .Wrapper > * {
    grid-column: 1;
  }

  .WrapperInnerContainer {
    grid-template-columns: auto;
  }

  audio > * {
    padding: 5px;
  }

}

/* Mobile */
@media screen and (max-width: 768px) {
  .Wrapper {
    grid-template-columns: 1fr;
  }

  .Wrapper > * {
    grid-column: 1;
  }

  .DisplayBox {
    grid-template-columns: repeat(1, auto);
  }

  .PortraitToggleButton {
    display: none;
  }
}
