/*Color css for toggle lightmode*/
.lightMode .button {
  background: #30475e;
  color: #f7f7f7;
}

.lightMode .Header,
.lightMode .SettingsBox,
.lightMode .DisplayBoxOutercontainer {
  background-color: #f7f7f7;
  color: #30475e;
}

/*Color css for toggle lightmode*/
.darkMode .button {
  background: #f7f7f7;
  color: #30475e;
}

.darkMode .Header,
.darkMode .SettingsBox,
.darkMode .DisplayBoxOutercontainer {
  background-color: #30475e;
  color: #f7f7f7;
}

/*Css not including colors*/
.OpeningScreen {
  width: 100%;
  height: 100vh;
  background-color: #30475e;
  text-align: center;
}

.OpeningScreen h1 {
  color: #f7f7f7;
  margin: 0 auto;
  line-height: 75vh;
}

.Header {
  text-align: center;
  text-justify: center;
  height: 6em;
}

.Wrapper {
  display: none;
  width: 100%;
}

.Wrapper > * {
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  box-shadow: 0 10px 20px -10px rgba(0, 64, 128, 0.2);
  border-radius: 6px;
}

.WrapperInnerContainer {
  display: grid;
  grid-gap: 2%;
  margin: 0;
}

.SettingsBox {
}

.DisplayBoxOutercontainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 2%;
  padding-bottom: 3em;
  margin: 5px;
}

.DisplayTop {
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin-bottom: 10px;
}

.DisplayBox {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 2%;
  grid-column-gap: 2%;
  padding-bottom: 3em;

}

.DisplayBox > * {
  justify-content: center;
  margin: 30px;
  border: none;
}

.ArtworkContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 2%;
}

.PortraitToggleButton {
  grid-row: 1;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f7f7f7;
}

.PortraitToggleButton > img {
  justify-items: center;
  margin: auto;
  max-width: 50px;
}

.Tittel {
  grid-row: 1;
}

.ArtworkBox {
  margin: 0;
  padding: 0;
  grid-gap: 1em;
  justify-items: center;
}

.Artwork {
  background: #abdfec;
  height: 200px;
}

.button {
  padding: 15px 15px;
  border: 0px;
  font-weight: bold;
}

footer {
  text-align: center;
}

  /* Alle */

  .Watermelon {
    width: 300px;
}


/* Desktop */

@media screen and (min-width: 1025px) {
  .WrapperInnerContainer {
  grid-template-columns: auto 80%;

  }


}
/* Tablet */
@media screen and (max-width: 1024px) {

  .ArtworkBox {
    width: 250px;
    height: 300px;
  }

  .Wrapper {
    grid-template-columns: 1fr;
  }

  .Wrapper > * {
    grid-column: 1;
  }
  .WrapperInnerContainer {
    grid-template-columns: auto;
  
    }

  .DisplayBox {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 2%;
    padding-bottom: 3em;
    height: 500px;
  }

}

/* Mobile */
@media screen and (max-width: 768px) {

  .ArtworkBox > * {
    width: 400px;
    height: 400px;
  }

  .Wrapper {
    grid-template-columns: 1fr;
  }

  .Wrapper > * {
    grid-column: 1;
  }

  .DisplayBox {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .PortraitToggleButton {
    display: none;
  }
}
